@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-family: "Fira Code";
    overflow-x: hidden;
    background-color: #E5E8E8;
    color: #000401;
}

body.dark {
    color: #E5E8E8;
    background-color: #000401;
}